:root{
    --gray: gray;
    --light-gray:rgb(243, 236, 236);
    --pink: rgb(250, 171, 184);
    --border-radius-gray: rgb(216, 214, 214);
    --star: rgb(255, 157, 0);
    --light-black:rgb(31, 30, 30);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-gray);
}
.container ul{
    width: 150px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 30px;
    gap: 12px
}
.container i{
    color: var(--gray);
}
.container li{
    width: 30px;
    height: 30px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    border-radius: 4px;
    cursor: pointer;
}
.header-title{
    width: 80%;
    text-align: center;
    color: var(--gray);
    font-size: 14px;
}
.header-main{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
}
.header-main-img img{
    width: 40px;
    height: 40px;
}
.header-main-input {
    width: 50%;
}
.header-main-input input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}
.header-main-icon{
    width: 12%;
    display: flex;
    justify-content: space-between;
}
.header-main-icon i{
    font-size: 25px;
    color: var(--gray);
    cursor: pointer;
}
.navigation ul{
    width: 70%;
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    color: var(--gray);
    padding-top: 10px;
    font-weight: bold;
}
.navigation li{
    cursor: pointer;
}
.advertisement{
    margin: 15px 0;
    position: relative;
}
.advertisement-img{
    text-align: center;
}
.advertisement-img img{
    width: 400px;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
}
.advertisement-banner{
    position: absolute;
    top: 90px;
    left: 150px
}
.advertisement-banner-title{
    color: var(--pink);
    font-size: 30px;
    font-weight: bold;
}
.advertisement-banner h2{
    font-size: 45px;
    width: 350px;
    font-weight: bold;
    margin: 10px 0 20px;
}
.advertisement-banner-text{
    color: var(--gray);
    font-size: 25px;
    margin-bottom: 15px;
}
.advertisement-banner span{
    font-weight: bold;
    font-size: 30px;
}
.advertisement-banner button{
    background-color: var(--pink);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
.advertisement-banner button:hover{
    background-color: var(--light-black);
    cursor: pointer;
}
.category{
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.category-box{
    width: 23%;
    display: flex;
    gap:12px;
    align-items: center;
    position: relative;
    border: 1px solid var(--border-radius-gray);
    border-radius: 5px;
    padding: 20px 15px;
}
.category-item-img{
    width: 45px;
    height: 45px;
    background-color: var(--light-gray);
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid var(--border-radius-gray);
    object-fit: cover;
}
.category-item-title{
    flex:1
}
.category-item-text{
    display: flex;
    justify-content: space-between;
    gap:18px
}
.category-item-text p{
    font-size: 14px;
}
.category-item-text span{
    font-size: 12px;
    color: var(--gray);
}
.category-item-title button{
    background-color: white;
    color: var(--pink);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
}
.product-title{
    font-weight: bold;
    font-size: 17px;
    margin: 3% 3% 2%;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 3%;
    border-top: 1px solid var(--border-radius-gray);
    padding-top: 2%;
    gap:30px
}
.product-box{
    position: relative;
    width: 100%;
    height: 400px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-img {
    overflow: hidden;
    height: 60%;
}
.product-box-img{
    overflow: hidden;
    position: relative;
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
}
.product-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}
.product-box-img .default {
    position: relative;
    z-index: 1;
}
.product-box-img .hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}
.product-box:hover { box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }
.product-box:hover .product-box-img .hover { opacity: 1; }

.product-box:hover .product-box-img .default { opacity: 0; }

.product-box:hover .product-box-img { transform: scale(1.05); }
.product-box-title{
    margin: 0 10%;
}
.product-box-title p:first-child{
    color: var(--pink);
    font-size: 13px;
    font-weight: bold;
    position: relative;
    z-index: 10;
}
.product-box-title p:nth-child(2){
    color: var(--gray);
    width: 70%;
    margin: 5% 0;
}
.product-box-title i{
    color: var(--star);
    margin-bottom: 4%;
}
.product-box-title p:last-child{
    margin-bottom: 5%;
}
.product-box-title span{
    text-decoration: line-through;
    color: var(--gray);
}
.sale{
    padding: 3px 8px;
    background-color: rgb(122, 242, 122);
    color: white;
    border-radius: 5px;
    position: absolute;
    top:42px;
    left: 18px;
    z-index: 1;
}
.product-icon{
    position: absolute;
    top: 10px;
    right:-10px;
    opacity: 0;
    transition: 0.5s ease;
}
.product-icon i{
    margin: 10% 0;
    width: 30px;
    height: 30px;
    padding:0px;
    background-color: white;
    color: var(--gray);
    border-radius: 4px;
    font-size: 17px;
    border: 1px solid var(--border-radius-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-box:hover .product-icon{
    right: 10px;
    opacity: 1;
}
.product-box:hover .product-icon i{
    cursor: pointer;
}
.product-icon i:hover{
    color: white;
    background-color: var(--light-black);
    border: none;
}
.detail-title{
    font-weight: bold;
    font-size: 17px;
    margin: 3% 3% 2%;
}
.detail-box{
    margin: 0 3%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border-radius-gray);
    border-radius: 10px;
    overflow: hidden;
    padding: 3% 0 0;
}
.detail-img{
    width: 40%;
}
.detail-img img{
    width: 100%;
}
.detail-main{
    width: 50%;
}
.detail-main-icon{
    color: var(--star);
}
.detail-main-product p:first-child{
    font-weight: bold;
    margin: 3% 0 1.5%;
    cursor: pointer;
}
.detail-main-product p:nth-child(2){
    color: var(--gray);
    width: 90%;
    margin-bottom: 3%;
}
.price-later{
    color: var(--pink);
    font-weight: bold;
    font-size: 22px;
}
.previous-price{
    color: var(--gray);
    font-size: 22px;
    text-decoration: line-through;
}
.detail-main button{
    padding: 5px 10px;
    border: none;
    background-color: var(--pink);
    color: white;
    transition: 0.3s ease;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    margin: 2% 0;
    cursor: pointer;
}
.detail-main button:hover{
    background-color: var(--light-black);
}
.detail-main-sold{
    width: 90%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
.detail-main-bar{
    position: relative;
}
.bar-gray::after{
    width: 90%;
    height: 10px;
    content: "";
    background-color:var(--light-gray);
    position: absolute;
    top:0px;
    left: 0;
    border-radius: 10px;
}
.bar-pink::after{
    width: 45%;
    height: 5px;
    content: "";
    background-color:var(--pink);
    position: absolute;
    top:2.5px;
    left: 2.5px;
    border-radius: 10px;
}
.detail-main-time{
    margin-top: 10%;
}
.time-title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4%;
}
.timing{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.timing p{
    width: 54px;
    height: 54px;
    background-color: var(--light-gray);
    text-align: center;
    line-height: 1.5;
    border-radius: 10px;
    font-size: 17px;
}
.testimonial{
    display: flex;
    width: 95%;
    margin: 3% auto;
    gap:30px
}
.testimonial-founder{
    width: 25%;
}
.testimonial-founder-title{
     font-weight: bold;
     position: relative;
}
.testimonial-founder-title::after{
    width: 100%;
    height: 1px;
    content: "";
    background-color:var(--border-radius-gray);
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 10px;
}
.testimonial-founder-main{
    margin-top: 15%;
    border: 1px solid var(--border-radius-gray);
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10%;
}
.founder-img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 7%;
    object-fit: cover;
}
.founder-infor p:first-child{
    font-weight: bold;
    color: var(--gray);
}
.founder-infor p:nth-child(2){
    font-size: 15px;
    margin: 3% 0;
}
.founder-infor img{
    width: 10%;
    height: 10%;
    margin: 2% 0;
}
.founder-infor p:last-child{
    width: 60%;
    margin: 0 0 10% 20%;
    color: var(--gray);
    font-size: 15px;
}
.testimonial-discount{
    width: 50%;
    position: relative;
    cursor: pointer;
}
.discount-img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.discount-infor{
    width: 50%;
    height: 50%;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 25%;
    left:50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    text-align: center;
}
.discount-infor p:first-child{
    margin: 8% 25% 3%;
    background-color: var(--light-black);
    color: white;
    width: 50%;
    border-radius: 8px;
    height: 30px;
    line-height: 2;
    font-weight: bold;
}
.discount-infor p:nth-child(2){
    margin: 0 36% 3%;
    text-transform: capitalize;
    line-height: 1.7;
    font-weight: bold;
    font-size: 20px;
}
.discount-infor p:nth-child(3){
    color: var(--gray);
}
.discount-infor button{
    margin-top: 2%;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: var(--gray);
    font-size: 17px;
}
.testimonial-service{
    width: 25%;
}
.testimonial-service-title{
    font-weight: bold;
    position: relative;
}
.testimonial-service-title::after{
   width: 100%;
   height: 1px;
   content: "";
   background-color:var(--border-radius-gray);
   position: absolute;
   top: 30px;
   left: 0;
   border-radius: 10px;
}
.testimonial-service-main{
    margin-top: 15%;
    border: 1px solid var(--border-radius-gray);
    text-align: center;
    border-radius: 10px;
    padding: 13px 30px;
}
.service-box{
    display: flex;
    text-align: start;
    align-items: center;
    margin: 10% 0;
}
.service-box-third i{
    margin-right: 23px;
}
.service-box i{
    font-size: 20px;
    margin: 0 20px;
    color: var(--pink);
    transition: 0.3s ease;
}
.service-box i:hover{
    color: var(--light-black);
    cursor: pointer;
}
.service-box-text{
    cursor: pointer;
}
.service-box-text p:first-child{
    color: var(--gray);
    font-weight: bold;
}
.service-box-text p:last-child{
    color: var(--gray);
    font-size: 14px;
}
.trend{
    display: flex;
    width: 95%;
    margin: 3% auto;
    gap:40px
}
.trend-box{
    width: 23%;
}
.trend-box img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.trend-box-title p:first-child{
    color: var(--pink);
    font-size: 15px;
    margin-top: 5%;
}
.trend-box-title p:nth-child(2){
    font-weight: bold;
    margin: 3% 0;
    cursor: pointer;
    transition: 0.2s ease;
}
.trend-box-title p:last-child{
    color: var(--gray);
}
.trend-box-title p:nth-child(2):hover{
    color: var(--pink);
}
.footer-nav{
    width: 100%;
    display: flex;
    background-color: var(--light-black);
    padding: 5% 3%;
    gap: 63px;
    justify-content: space-around;
    border-bottom: 1px solid var(--gray);
}
.footer-nav-container{
    width: 23%;
}
.footer-nav-title{
    color:white;
    font-weight: bold;
    position: relative;
}
.footer-nav-title::after{
    width: 40%;
    height: 0.5px;
    content: "";
    background-color:var(--pink);
    position: absolute;
    top:30px;
    left: 0;
    border-radius: 10px;
}
.footer-nav-container ul{
    margin-top: 20%;
    list-style-type: none;
}
.footer-nav-container li,
.contact-item{
    color: var(--gray);
    margin-top: 5%;
}
.contact{
    margin-top: 20%;
}
.contact-item{
    display: flex;
    gap:10px;
}
.footer-bottom{
    background-color: var(--light-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 10px
}
.footer-bottom > div{

}
.footer-bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-bottom p{
    color: var(--gray);
}
@media (max-width: 1024px){
    .category-box-last{
        display: none;
    }
    .category-box{
        width: 30%;
    }
    .product-box-title p:nth-child(2){
        width: 100%;
    }
    .product-box-last{
        display: none;
    }
    .product-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail-box{
        padding-bottom: 3%;
    }
    .detail-main button{
        padding: 10px;
    }
    .detail-main-sold{
        margin: 3% 0;
    }
    .testimonial{
        display: flex;
        flex-wrap: wrap;
    }
    .testimonial-founder{
        width: 35%;
    }
    .testimonial-discount{
        width: 61%;
    }
    .testimonial-service{
        width: 100%;
    }
    .testimonial-service-main{
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
    }
    .service-box{
        display: flex;
        flex-direction: column;
        gap:15px;
        margin: 3% 0;
    }
    .service-box-text{
        line-height: 1.5;
    }
    .trend{
        margin-top: 4%;
    }
    .trend-box-last{
        display: none;
    }
    .trend-box{
        width: 35%;
    }
    .footer-nav{
        gap:0;
    }
    .footer-nav-title{
        font-size: 15px;
    }
    .footer-nav-container li{
        font-size: 15px;
    }
}
@media (max-width: 768px){
    .container ul{
        display: none;
    }
    .header-title{
        width: 100%;
        font-size: 13px;
    }
    .header-main-icon{
        display: none;
    }
    .header-main-input{
        width: 62%;
    }
    .navigation{
        display: none;
    }
    .advertisement{
        margin-top: 30px;
    }
    .advertisement-banner{
        left:100px; 
        top: 15px
    }
    .advertisement-banner h2{
        font-size: 30px;
        width: 330px;
    }
    .advertisement-banner-text{
        font-size: 23px;
    }
    .advertisement-banner button{
        padding: 8px 17px;
    }
    .category-box-third,
    .category-box-last{
        display: none;
    }
    .category-box{
        height: 100px;
        width: 45%;
    }
    .category-item-img{
        height: 60px;
        width: 60px;
    }
    .product-grid{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 4%;
    }
    .detail-main-product p:first-child,
    .detail-main-product p:nth-child(2) {
        font-size: 15px;
    }
    .price-later,
    .previous-price{
        font-size: 20px;
    }
    .detail-main button {
        padding: 12px 14px;
        font-size: 16px;
        margin: 4% 0;
    }
    .time-title{
        font-size: 14px;
    }
    .detail-box{
        padding: 4% 0;
    }
    .testimonial{
        display: flex;
        flex-direction: column;
    }
    .testimonial-founder{
        width: 100%;
    }
    .testimonial-founder-main {
        padding-bottom: 0;
        margin-top: 6%;
    }
    .founder-img {
        width: 11%;
        height: 11%;
        margin: 3% 0;
    }
    .founder-infor p:nth-child(2) {
        margin: 2% 0;
    }
    .founder-infor img {
        width: 3%;
        height: 3%;
        margin: 0;
    }
    .founder-infor p:last-child{
        width: 63%;
        margin: 2% 0 5% 20%;
    }
    .testimonial-discount{
        width: 100%;
    }
    .discount-infor{
        width: 47%;
        height: 37%;
    }
    .discount-infor p:nth-child(2) {
        margin: 0 7% 2%;
    }
    .testimonial-service{
        width: 100%;
    }
    .testimonial-service-main {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .service-box{
        margin: 2% 0;
    }
    .service-box i{
        margin: 0 10px;
    }
    .service-box-third i{
        margin-right: 15px;
    }
    .trend{
        flex-wrap: wrap;
    }
    .trend-box{
        width: 47%;
    }
    .footer-nav{
        flex-wrap: wrap;
    }
    .footer-nav-container{
        width: 27%;
    }
    .trend-box-last{
        display: block;
    }   
}
@media (max-width: 600px){
    .advertisement-banner{
        top: 20px;
    }
    .advertisement-img img {
        width: 93%;
        height: 275px;
    }
    .advertisement-banner-title{
        font-size: 20px;
    }
    .advertisement-banner h2{
        font-size: 22px;
        width: 80%;
    }
    .advertisement-banner-text{
        font-size: 20px;
    }
    .advertisement-banner button{
        padding: 6px 15px;
    }
    .category-box {
        height: 95px;
        width: 47%;
    }
    .detail-box{
        flex-direction: column;
    }
    .detail-img {
        width: 100%;
    }
    .detail-main {
        width: 100%;
        margin-left: 27px;
    }
    .detail-main-product p:first-child, 
    .detail-main-product p:nth-child(2) {
        font-size: 14px;
    }
    .price-later, 
    .previous-price {
        font-size: 19px;
    }
    .detail-main button {
        padding: 11px 12px
    }
    .detail-main-sold {
        font-size: 12px;
    }
    .time-title {
        font-size: 13px;
    }
    .timing{
        gap: 20px;
        justify-content: left;
    }
    .timing p {
        width: 51px;
        height: 51px;
        font-size: 16px;
    }
    .trend-box{
        width: 46%;
    }
    .footer-nav{
        flex-direction: column;
        width: 100%;
    }
    .footer-nav-title {
        width: 175px;
        font-size: 15px;
    }
    .trend-box-last{
        display: block;
    }
}

